.container {
    width: 100vw;
    height: 100vh;   
    background: linear-gradient(#5198d3,#cde0f0 ) ;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    max-height: 300px;
    padding: 50px;
}

h1 {
    font-size: 100px;
    color: rgb(66, 0, 0);
 
}

p {
    display: flex;
    justify-content: center;
    color: rgb(66, 0, 0);
    font-size: 50px;
    margin: 30px 0px 20px 0px;
}

.counter {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 8vh;
    color: rgb(216, 12, 12);
}

.time {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    min-width: 107px;
    max-width: 107px;
}

#milliseconds {
    padding-left: 20px;
    min-width: 107px;
    max-width: 115px;
}

.buttons {
    display:flex ;
    padding-right: 33px;
}

.btn{
    margin-left: 15px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 30px;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease-in-out;
    color: #2c1401;
    background-color: #ffc9ac;
    font-size: 25px;
}

.btn:hover {
    transform: scale(1.1);
    color: #2c1401;
    background-color: #FF5800;
}

#startBtn {
    background-color: #ff8f53 ;
    transition: all 0.2s ease-in-out;
}

#startBtn:hover{
    background-color: #FF5800;
}

#pausedBtn, #resumeBtn {
    display: none;
}

#lapsBtn {
    display: none;
}

.laps {
    font-size: 25px;
    padding-left: 80px;
}

#lapList {
    color: rgb(87, 1, 1);
}

#lapList li::marker {
    content: counter(list-item) "° ";
}

.MarioRun {
    padding-top: 0px 0px 0px 0px;
    position: absolute;
    z-index: 1;
    top: 70%;
    left: 44%;
    transform: translateX(-50%);
    transform: translateY(-50%);
}